<%- include('../partials/header.ejs')%>

    <div class="container-fluid">
        <h1 class="d-flex justify-content-center">Details</h1>
        <p  class="center">Generated on <%= item.createdAt%> by <%= item.seller.firstName + ' ' + item.seller.lastName%></p>
    </div>
    <div class="centerScreen">
        <h3><%= item.year%> <%= item.make%> <%= item.modelX%></h3>
        <div class="container mt-5">
            <div class="row">
                <% if (item.image) { %>
                    <div class="col-md-4">
                        <img src="<%= item.image %>" alt="<%= item.year%> <%= item.make%> <%= item.modelX%> Image" class="img-fluid" />
                    </div>
                <% } %>
                <div class="col-md-8">
                    <p>Car: <%= item.year%> <%= item.make%> <%= item.modelX%></p>
                    <p>Condition: <%= item.condition%></p>
                    <p>Price: $<%= item.price%></p>
                    <p>Details: <%= item.details %></p>
                    <%if(user == item.seller._id){%>
                        <form>
                            <button type = "submit" formmethod = "GET" formaction = "/items/<%= item.id%>/edit">Edit</button>
                            <button type = "submit" formmethod = "POST" formaction = "/items/<%= item.id%>?_method=DELETE">Delete</button>
                        </form>
                        <%}%>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>
